.error {
	color: red;
}

.keyword {
	font-weight: bold;
}

.annotation {
	font-style: italic;
}

.name {
}

.comment {
	font-style: italic;
}

.punctuation {
}

.indent {
	padding: 0px 0px 0px 30px;
}