.error {
	color: red;
}

.keyword {
	font-weight: bold;
}

.annotation {
	font-style: italic;
}

.name {
	white-space-collapse: discard;
}

.name div {
	display: inline;
}

.comment {
	font-style: italic;
}

.punctuation {
}

.indent {
	padding: 0px 0px 0px 30px;
}